--- 
layout: default 
---

<div class="player-wrapper">
    <header>
        <h1 class="ned-site__title">NeverEnding<br>Drive</h1>
    </header>

    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
</div>

<ul class="ned-list">
    {% for category in site.data.songs %} 
    {% for artist in category[1] %} 
    {% assign curartist = artist[1] %} 
    {% for song in curartist.songs %}
    <li class="ned-song">

        <!-- Play buttons -->
        <div class="ned-song__play-buttons">
            <button class="ned-song__play-button" onclick="loadVideo('{{ song.links.youtube[0] }}');">
                <img class="ned-song__link-icon" src="/img/icons/brands/youtube-play-red.svg" alt="YouTube" />
            </button>
            <button class="ned-song__play-button" onclick="loadVideo('{{ song.links.youtube[1] }}');">
                <img class="ned-song__link-icon" src="/img/icons/brands/youtube-play.svg" alt="YouTube" />
            </button>
        </div>

        <!-- Play links -->
        <div class="ned-song__play-links">
            {% for youtube in song.links.youtube %}
            <a href="https://www.youtube.com/watch?v={{ youtube }}" target="_blank">
                <img class="ned-song__link-icon" src="/img/icons/brands/youtube.svg" alt="YouTube" />
            </a>
            {% endfor %}
        </div>

        <div class="ned-song__title">
            <h3>{{ song.title }}</h3>
        </div>

        <div class="ned-song__subtitle">
            <a href="#artist={{ artist[0] }}">{{ curartist.artist }}</a>
        </div>

        <div class="ned-song__links">
            <a  href="http://www.deezer.com/track/{{ song.links.deezer }}" target="_blank">
                <img class="ned-song__link-icon" src="/img/icons/brands/deezer.svg" alt="Deezer" />
            </a>
            <a  href="https://www.shazam.com/track/{{ song.links.shazam }}" target="_blank">
                <img class="ned-song__link-icon" src="/img/icons/brands/shazam.svg" alt="Shazam" />
            </a>
            {% if song.links.wikipedia %}
            <a  href="{{ song.links.wikipedia }}" target="_blank">
                <img class="ned-song__link-icon" src="/img/icons/brands/wikipedia.svg" alt="Wikipedia" />
            </a>
            {% endif %}
        </div>

        <!-- <header class="ned-song__header">
            <h3>
                {{ song.title }} - <a href="#artist={{ artist[0] }}">{{ curartist.artist }}</a>
                <span class="ned-badge">{{ song.fav }}</span>
            </h3>
        </header> -->

        <!-- Meta & Tags -->
        <div class="ned-song__meta">
            <span>
                <a href="#/year/{{ song.year }}/"><time>{{ song.year }}</time></a>
            </span>
            
            <ul class="ned-list ned-list--inline">
                {% for tag in song.tags %}
                <li><a href="#{{ tag }}">#{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </li>
    {% endfor %} {% endfor %} {% endfor %}
</ul>



<script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '200',
            width: '200',
            playerVars: {
                // controls: 0,
                iv_load_policy: 3,
                // modestbranding: 1,
                rel: 0,
                showinfo: 0,
                theme: "light"
            },
            // videoId: 'M7lc1UVf-VE',
            events: {
                'onReady': onPlayerReady
            }
        });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        // event.target.playVideo();
    }

    function loadVideo(videoID) {
        if (player) { player.loadVideoById(videoID); }
    }
</script>