--- 
layout: default 
---

<ul class="ned-list">
    {% for category in site.data.songs %} {% for artist in category[1] %} {% assign curartist = artist[1] %} {% for song in curartist.songs
    %}
    <li class="ned-song">
        <header class="ned-song__header">
            <h3>
                {{ song.title }} - <a href="#artist={{ artist[0] }}">{{ curartist.artist }}</a>
                <span class="ned-badge">{{ song.fav }}</span>
            </h3>
        </header>
        
        <!-- Play -->
        <div class="ned-song__play">
            {% for youtube in song.links.youtube %}
            <button class="ned-button--youtube" onclick="loadVideo('{{ youtube }}');"></button>
            {% endfor %}
        </div>

        <!-- External links -->
        <ul class="ned-song__links ned-list ned-list--inline">
            {% for youtube in song.links.youtube %}
            <li><a class="ned-link--tir ned-link--youtube" href="https://www.youtube.com/watch?v={{ youtube }}" target="_blank">YouTube</a></li>
            {% endfor %}
            <li><a class="ned-link--tir ned-link--deezer" href="http://www.deezer.com/track/{{ song.links.deezer }}" target="_blank">Deezer</a></li>
            <li><a class="ned-link--tir ned-link--shazam" href="https://www.shazam.com/track/{{ song.links.shazam }}" target="_blank">Shazam</a></li>
            {% if song.links.wikipedia %}
            <li><a class="ned-link--tir ned-link--wikipedia" href="{{ song.links.wikipedia }}" target="_blank">Wikipedia</a></li>
            {% endif %}
        </ul>

        <!-- Meta & Tags -->
        <div class="ned-song__meta">
            <span>
                <a href="#/year/{{ song.year }}/"><time>{{ song.year }}</time></a>
            </span>
            
            <ul class="ned-list ned-list--inline">
                {% for tag in song.tags %}
                <li><a href="#{{ tag }}">#{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </li>
    {% endfor %} {% endfor %} {% endfor %}
</ul>

<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div class="player-wrapper">
    <div id="player"></div>
</div>

<script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '200',
            width: '200',
            playerVars: {
                // controls: 0,
                iv_load_policy: 3,
                // modestbranding: 1,
                rel: 0,
                showinfo: 0,
                theme: "light"
            },
            // videoId: 'M7lc1UVf-VE',
            events: {
                'onReady': onPlayerReady
            }
        });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        // event.target.playVideo();
    }

    function loadVideo(videoID) {
        if (player) { player.loadVideoById(videoID); }
    }
</script>